#if(trunk.alertCounts.newTwarrtMentionCount > 0):
	<a class="list-group-item list-group-item-action" href="/tweets?mentions=#(trunk.username)">
		You have #(trunk.alertCounts.newTwarrtMentionCount) new tweet @mentions
	</a>
#endif
